.form-field {
  margin-bottom: 1rem;

  &__label {
    margin-bottom: 0.3rem;

    font-weight: 500, 600;
  }

  &__input {
    padding: 0.25rem;

    border-radius: 2px;
    border: 1px solid $gray-light;
  }
}


