<tbody>
  {{#each @rows as |row index|}}
    <tr data-test-table-row class="editable-table__row">
      {{#each row.cells as |cell index|}}
        <td data-test-table-cell class="editable-table__cell">
          <input
            data-test-table-cell-input
            class="editable-table__cell-input"
            placeholder="Cell"
            value={{cell.value}}
            onchange={{action (mut cell.value) value="target.value"}}
          >
        </td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>