$dark: #232829;
$white: #ffffff;
$gray: #72747A;
$gray-light: #D7D9D9;
$gray-lighter: #f1f1f1;
$gray-lightest: #fafafa;
$primary: #08bed5;
$primary-hover: #0698aa;
$primary-active: #04727f;
$primary-disabled: #80dbe6;
$danger: #f07f7d;
$danger-light: #ebb2b1;
